<!DOCTYPE html>
<html dir="rtl" lang="fa">
  <head>
    <!-- dp -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css"
    />
    <script
      type="text/javascript"
      src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"
    ></script>
    <!-- dp -->

    <style>
      * {
        font-size: 20px;
        /* Set your desired font size in pixels */
      }

      body {
        background-color: rgb(0, 91, 119);
        color: rgb(251, 255, 0);
        font-family: Arial, sans-serif;
      }

      form {
        margin: 0 auto;
        width: 400px;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="number"] {
        padding: 5px;
        width: 100%;
      }

      input[type="submit"] {
        background-color: white;
        color: black;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }

      .navbar {
        background-color: black;
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }

      .navbar a {
        text-decoration: none;
        color: white;
        margin-right: 10px;
      }
    </style>

    <style>
      /* Add this CSS code to your existing <style> section or a separate CSS file */

      /* Style for error messages */
      .error-message {
        color: red;
        background-color: rgba(65, 65, 65, 0.5);
        padding: 10px 10px;
        font-size: 16px;
        margin-top: 5px;
      }

      /* Style for input fields with errors */
      input.error {
        border: 2px solid red;
        background-color: #ffcccc; /* Light red background */
      }
    </style>
  </head>

  <body>
    <div class="navbar">
      <a href="/">خانه</a>
      <a href="/data_entry">افزودن</a>
      <a href="/list">لیست میهمانان</a>
    </div>
    <br /><br />

    <form
      id="guest-form"
      action="http://localhost:5000/add_guest"
      method="POST"
    >
      <label>نوع مسافر:</label>
      <input type="radio" name="is_foreign" value="FALSE" required />ایرانی
      <input type="radio" name="is_foreign" value="TRUE" />خارجی <br /><br />

      <div id="irn-field" style="display: none">
        <label>نام:</label>
        <input type="text" name="name" required autocomplete="off" />
        <br /><br />

        <label>نام خانوادگی:</label>
        <input type="text" name="last_name" required autocomplete="off" />
        <br /><br />

        <label>نام پدر:</label>
        <input type="text" name="father_name" required autocomplete="off" />
        <br /><br />

        <label>کد ملی:</label>
        <input
          type="text"
          name="national_id"
          required
          autocomplete="off"
          pattern="[0-9٠-٩۰-۹]+"
          title="لطفاً فقط از اعداد استفاده کنید"
        />
        <br /><br />

        <label>تاریخ تولد:</label>
        <input
          type="text"
          name="date_of_birth"
          data-jdp
          required
          autocomplete="off"
          placeholder="کلیک کنید - فرمت : 0000/00/00"
        />
        <br /><br />

        <label>شماره تلفن:</label>
        <input
          type="text"
          name="phone_number"
          required
          autocomplete="off"
          pattern="[0-9٠-٩۰-۹]+"
          title="لطفاً فقط از اعداد استفاده کنید"
        />
        <br /><br />

        <label>شغل:</label>
        <input type="text" name="occupation" autocomplete="off" />
        <br /><br />

        <label>واحد اقامت:</label>
        <select name="residence_unit" required>
          <option value="" disabled selected>انتخاب کنید</option>
          <option value="پنج دری">پنج دری</option>
          <option value="شاه نشین یک">شاه نشین یک</option>
          <option value="شاه نشین دو">شاه نشین دو</option>
          <option value="گل مرغ">گل مرغ</option>
          <option value="بهار">بهار</option>
          <option value="نارنج">نارنج</option>
          <option value="ترنج">ترنج</option>
          <option value="یاس">یاس</option>
        </select>
        <br /><br />

        <label>تاریخ ورود:</label>
        <input
          type="text"
          name="arrival_date"
          data-jdp
          required
          autocomplete="off"
          placeholder="کلیک کنید - فرمت : 0000/00/00"
        />
        <br /><br />

        <label>تاریخ خروج:</label>
        <input
          type="text"
          name="departure_date"
          data-jdp
          required
          autocomplete="off"
          placeholder="کلیک کنید - فرمت : 0000/00/00"
        />
        <br /><br />

        <label>نوع پرداخت:</label>
        <input type="radio" name="payment_type" value="نقدی" required />نقدی
        <input type="radio" name="payment_type" value="کارت" />کارت
        <input type="radio" name="payment_type" value="جاباما" />جاباما
        <input type="radio" name="payment_type" value="اسنپ تریپ" />اسنپ تریپ
        <br /><br />

        <label>پیش پرداخت:</label>
        <input
          type="number"
          name="advance_payment"
          required
          autocomplete="off"
        />
        <br /><br />

        <label>مانده:</label>
        <input type="number" name="balance" required autocomplete="off" />
        <br /><br />

        <label>مبلغ کل:</label>
        <input type="number" name="total_amount" required autocomplete="off" />
        <br /><br />

        <label>یادداشت:</label>
        <textarea name="note"></textarea>
        <br /><br />
      </div>

      <div id="frg-field" style="display: none">
        <label>نام:</label>
        <input type="text" name="foreign_name" required autocomplete="off" />
        <br /><br />

        <label>نام خانوادگی:</label>
        <input
          type="text"
          name="foreign_last_name"
          required
          autocomplete="off"
        />
        <br /><br />

        <label>ملیت:</label>
        <input type="text" name="nationality" required autocomplete="off" />
        <br /><br />

        <label>شماره پاسپورت:</label>
        <input type="text" name="passport_number" required autocomplete="off" />
        <br /><br />

        <label>جنسیت:</label>
        <input type="radio" name="gender" value="مرد" required /> مرد
        <input type="radio" name="gender" value="زن" /> زن <br /><br />

        <label>تاریخ تولد:</label>
        <input
          type="text"
          name="f_date_of_birth"
          data-jdp
          required
          autocomplete="off"
          placeholder="کلیک کنید - فرمت : 0000/00/00"
        />
        <br /><br />

        <label>شماره تلفن:</label>
        <input
          type="text"
          name="f_phone_number"
          required
          autocomplete="off"
          pattern="[0-9٠-٩۰-۹]+"
          title="لطفاً فقط از اعداد استفاده کنید"
        />
        <br /><br />

        <label>نام لیدر:</label>
        <input type="text" name="leader_name" required autocomplete="off" />
        <br /><br />

        <label>شماره تلفن لیدر:</label>
        <input
          type="text"
          name="leader_phone"
          required
          autocomplete="off"
          pattern="[0-9٠-٩۰-۹]+"
          title="لطفاً فقط از اعداد استفاده کنید"
        />
        <br /><br />

        <label>واحد اقامت:</label>
        <select name="f_residence_unit" required>
          <option value="" disabled selected>انتخاب کنید</option>
          <option value="پنج دری">پنج دری</option>
          <option value="شاه نشین یک">شاه نشین یک</option>
          <option value="شاه نشین دو">شاه نشین دو</option>
          <option value="گل مرغ">گل مرغ</option>
          <option value="بهار">بهار</option>
          <option value="نارنج">نارنج</option>
          <option value="ترنج">ترنج</option>
          <option value="یاس">یاس</option>
        </select>
        <br /><br />

        <label>تاریخ ورود:</label>
        <input
          type="text"
          name="f_arrival_date"
          data-jdp
          required
          autocomplete="off"
          placeholder="کلیک کنید - فرمت : 0000/00/00"
        />
        <br /><br />

        <label>تاریخ خروج:</label>
        <input
          type="text"
          name="f_departure_date"
          data-jdp
          required
          autocomplete="off"
          placeholder="کلیک کنید - فرمت : 0000/00/00"
        />
        <br /><br />

        <label>نوع پرداخت:</label>
        <input type="text" name="f_payment_type" required autocomplete="off" />
        <br /><br />

        <label>پیش پرداخت:</label>
        <input
          type="number"
          name="f_advance_payment"
          required
          autocomplete="off"
        />
        <br /><br />

        <label>مانده:</label>
        <input type="number" name="f_balance" required autocomplete="off" />
        <br /><br />

        <label>مبلغ کل:</label>
        <input
          type="number"
          name="f_total_amount"
          required
          autocomplete="off"
        />
        <br /><br />

        <label>یادداشت:</label>
        <textarea name="f_note"></textarea>
        <br /><br />
      </div>

      <div id="hamrah" style="display: none">
        <label>همراه دارد؟</label>
        <input type="radio" name="is_comp" id="comp_yes" required />بله
        <input type="radio" name="is_comp" id="comp_no" />خیر
      </div>

      <div id="companions-section" style="display: none">
        <h2>اطلاعات همراهان</h2>
        <p>به ازای هر همراه یک بار بر روی دکمه افزودن همراه کلیک کنید و درصورت حذف میهمانان از آخرین همراه حذف کنید</p>
        <button type="button" id="add-companion">افزودن همراه</button>
        <div id="companions">
          <!-- اطلاعات هر همراه به صورت داینامیک اینجا اضافه می‌شود -->
        </div>
      </div>
      <input type="hidden" name="companion_count" value="{{ companionCount }}">
      <br />
      <button type="button" id="submit-button">ذخیره</button>
      <div id="confirmation-message" style="display: none"></div>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/lib/persian-date.min.js"></script>
    <script src="static/js/lib/persian-datepicker.min.js"></script>
    <script src="static/js/main.js"></script>

    <script>
      const passengerTypeRadios = document.querySelectorAll(
        'input[name="is_foreign"]'
      );
      const irn = document.getElementById("irn-field");
      const frg = document.getElementById("frg-field");
      const shql = document.querySelector('input[name="occupation"]');
      const ldr = document.querySelector('input[name="leader_name"]');
      const ldr_phone = document.querySelector('input[name="leader_phone"]');
      const f_ap = document.querySelector('input[name="f_advance_payment"]');
      const f_bl = document.querySelector('input[name="f_balance"]');
      const ap = document.querySelector('input[name="advance_payment"]');
      const bl = document.querySelector('input[name="balance"]');
      const iranianResidenceUnit = document.querySelector(
        'select[name="residence_unit"]'
      );
      const foreignResidenceUnit = document.querySelector(
        'select[name="f_residence_unit"]'
      );
      const f_ph = document.querySelector('input[name="f_phone_number"]');
      const hamrah = document.getElementById("hamrah");

      passengerTypeRadios.forEach((radio) => {
        radio.addEventListener("change", function () {
          if (this.value === "FALSE") {
            // Internal
            irn.style.display = "block";
            frg.style.display = "none";
            Array.from(irn.querySelectorAll("input")).forEach((input) => {
              if (input.type !== "radio" && input.type !== "checkbox") {
                input.setAttribute("required", "required");
              }
            });
            Array.from(frg.querySelectorAll("input")).forEach((input) =>
              input.removeAttribute("required")
            );
            shql.removeAttribute("required");
            ap.removeAttribute("required");
            bl.removeAttribute("required");
            foreignResidenceUnit.removeAttribute("required");
            f_ph.removeAttribute("required");
            hamrah.style.display = "block";
          } else if (this.value === "TRUE") {
            irn.style.display = "none";
            frg.style.display = "block";
            Array.from(frg.querySelectorAll("input")).forEach((input) => {
              if (input.type !== "radio" && input.type !== "checkbox") {
                input.setAttribute("required", "required");
              }
            });
            Array.from(irn.querySelectorAll("input")).forEach((input) =>
              input.removeAttribute("required")
            );
            ldr.removeAttribute("required");
            ldr_phone.removeAttribute("required");
            f_ap.removeAttribute("required");
            f_bl.removeAttribute("required");
            iranianResidenceUnit.removeAttribute("required");
            hamrah.style.display = "block";
          }
        });
      });

      const addCompanionButton = document.getElementById("add-companion");
      const companionsContainer = document.getElementById("companions");
      const submitButton = document.getElementById("submit-button");
      const confirmationMessage = document.getElementById(
        "confirmation-message"
      );
      let companionCount = 0;

      addCompanionButton.addEventListener("click", function () {
        if (companionCount < 8) {
          companionCount++;
          const companionDiv = document.createElement("div");
          companionDiv.innerHTML = `
            <h3>اطلاعات همراه ${companionCount}</h3>
            <label for="companion-name-${companionCount}">نام:</label>
            <input type="text" id="companion-name-${companionCount}" name="companion-name-${companionCount}" autocomplete="off" required>
            <br>
            <label for="companion-lastname-${companionCount}">نام خانوادگی:</label>
            <input type="text" id="companion-lastname-${companionCount}" name="companion-lastname-${companionCount}" autocomplete="off" required>
            <br>
            <label for="companion-rel-${companionCount}">نسبت:</label>
            <input type="text" id="companion-rel-${companionCount}" name="companion-rel-${companionCount}" autocomplete="off" required>
            <br>
            <label for="companion-national-id-${companionCount}">کد ملی / شماره پاسپورت:</label>
            <input type="text" id="companion-national-id-${companionCount}" name="companion-national-id-${companionCount}" autocomplete="off" required>
            <br>
            <label for="companion-gender-${companionCount}">جنسیت:</label>
            <select id="companion-gender-${companionCount}" name="companion-gender-${companionCount}" required>
                <option value="" disabled selected>انتخاب کنید</option>
                <option value="مرد">مرد</option>
                <option value="زن">زن</option>
            </select>
            <br><br>
            <button type="button" class="remove-companion">حذف همراه</button>
            <br><br>`;

          companionsContainer.appendChild(companionDiv);

          const removeCompanionButton =
            companionDiv.querySelector(".remove-companion");
          removeCompanionButton.addEventListener("click", function () {
            companionCount--;
            companionsContainer.removeChild(companionDiv);
          });
        
        
          document.querySelector('input[name="companion_count"]').value = companionCount;
        }
        else {
          alert("نمی‌توانید بیش از 8 همراه اضافه کنید.");
        }
      });

      const compYesRadio = document.getElementById("comp_yes");
      const compNoRadio = document.getElementById("comp_no");
      const companionsSection = document.getElementById("companions-section");

      compYesRadio.addEventListener("change", function () {
        if (compYesRadio.checked) {
          companionsSection.style.display = "block";
        }
      });

      // ...

      submitButton.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the default form submission

        let isValid = true;
        const requiredFields = document.querySelectorAll(
          "input[required], select[required]"
        );
        const errorMessages = [];

        requiredFields.forEach((field) => {
          if (field.type === "radio") {
            // Check if at least one radio button in the group is selected
            const radioGroup = document.querySelectorAll(
              `input[name="${field.name}"]`
            );
            const isSelected = Array.from(radioGroup).some(
              (radio) => radio.checked
            );
            if (!isSelected) {
              isValid = false;
              errorMessages.push(
                `لطفا یکی از گزینه‌های ${field.name} را انتخاب کنید.`
              );
            }
          } else if (!field.value.trim()) {
            field.classList.add("error"); // Add 'error' class for styling
            isValid = false;
            errorMessages.push(
              `لطفا فیلد ${field.getAttribute("name")} را پر کنید.`
            );
          } else {
            field.classList.remove("error"); // Remove 'error' class
          }
        });

        if (!isValid) {
          // Display error messages
          confirmationMessage.textContent = errorMessages.join("\n");
          confirmationMessage.classList.add("error-message"); // Add 'error-message' class
          confirmationMessage.style.display = "block";
        } else {
          // If all required fields are filled, submit the form
          const guestForm = document.getElementById("guest-form"); // Get the form element
          guestForm.submit(); // Submit the form
        }
      });

      // ...
    </script>

    <!-- dp -->
    <script>
      jalaliDatepicker.startWatch();
    </script>
    <!-- dp -->
  </body>
</html>
