{% block style %}
    <style>
        * {
            font-size: 20px;
            /* Set your desired font size in pixels */
        }

        body {
            background-color: rgb(0, 91, 119);
            color: rgb(251, 255, 0);
            font-family: Arial, sans-serif;
        }

        form {
            margin: 0 auto;
            width: 400px;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="number"] {
            padding: 5px;
            width: 100%;
        }

        input[type="submit"] {
            background-color: white;
            color: black;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        .navbar {
            background-color: black;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .navbar a {
            text-decoration: none;
            color: white;
            margin-right: 10px;
        }
    </style>
{% endblock %}